html 
{
  height: 100%;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

html::-webkit-scrollbar 
{
  display: none;
}


body 
{
  margin:0;
  padding:0;
  background-size: auto;
  background-attachment: fixed;
  background-image: linear-gradient(to left bottom, #393e46, #3f505f, #3e6478, 
                                                    #37798f, #288fa2, #288fa2, 
                                                    #288fa2, #288fa2, #37798f, 
                                                    #3e6478, #3f505f, #393e46);

}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #28527a;
  color: white;
}


.container 
{
  margin:auto;
  margin-top:2%;
  width: 75%;
  border: 1% solid #28527a;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px #222831;
  padding: 2%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.post {
  box-sizing: border-box;  

  text-align: center; 
  border: 1% solid #28527a;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px #222831;
  border-radius:6px;
  padding :1%;
  margin: 1%;
  margin-bottom: 2%;
  background-image: linear-gradient(to right bottom,  #252a34, #363756, #5b3e72, 
                                                      #8d3e81, #c2357f, #c2357f, 
                                                      #c2357f, #c2357f, #8d3e81, 
                                                      #5b3e72, #363756, #252a34);
  
}
.post-user {
  
  border: 1% solid #28527a;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px #222831;
  border-radius:6px;
  padding :1%;
  margin: 1%;
  margin-bottom: 2%;
  background-image: linear-gradient(to right bottom,  #f4d160, #ced969, #a7dd7c, 
                                                      #7edf97, #53deb3, #53deb3, 
                                                      #53deb3, #53deb3, #7edf97, 
                                                      #a7dd7c, #ced969, #f4d160);
  
}
.post-footer {
  position: inherit;
  padding: 5px;
}

.post-footer button
{
  text-align: center;
  align-self: center;
  color:black;
  text-transform: uppercase;
  font-family: cursive;
  width: auto;
  padding:1%;
  font-size:100%;
  cursor: pointer;
  transition:all 0.2s;
  border: 1% outset #28527a;
  border-radius: 5px;
  box-shadow: 5px 3px 5px 3px #222831;
  background-image: linear-gradient(to right bottom,  #f4d160, #ced969, #a7dd7c, 
                                                      #7edf97, #53deb3, #53deb3, 
                                                      #53deb3, #53deb3, #7edf97, 
                                                      #a7dd7c, #ced969, #f4d160);
  
}

.post-footer button:hover
{
    background: #7d00b8;
    color: #fff;
    border-radius: 3%;
    box-shadow:    0 0 5px #7d00b8,
                   0 0 25px #7d00b8,
                   0 0 50px #7d00b8,
                   0 0 100px #7d00b8;
}

footer {
  background-color: #28527a;
  color: white;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top:2%;
}


@media screen and (max-width: 700px) 
{
  .container
  {
    border:none;
  }
}
